$moon-white: #eaf1fb;
$mā-white: #f6f7fb;
$white: #ffffff;
$carbon: #333333;
$black: #00000033;
$carte-blanche: #ededfe;
$thames-dusk: #64676c;
$black-oak: #4f4f4f;
$icy-landscape: #c3e7ff;
$rich-green: #1e8e3e;
$lemon-chrome: #f9ab01;
$deep-sky-blue: #1a73e8;
$chilled-chilly: #ea4335;
$bleu-de-france: #2f80ed;
$shadowed-steel: #4a4a4a;
$cotton-ball: #f2f5fc;
$chef-s-hat: #f3f5f6;
$fantasia: #747789;
$maya-blue: #74c0fcff;
$snow-tiger: #dadce0;
$cerebral-grey: #cccccc;
$cannon-barrel: #3c4043;
$shining-silver: #c5c6c9;
$mission-control: #818488;
$noghrei-silver: #bdbdbd;
$dead-blue-eyes: #0e57cb;
$christmas-silver: #e0e0e0;
$suzu-grey: #9da0a4;

$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-13: 0.813rem;
$font-size-14: 0.875rem;
$font-size-15: 0.938rem;
$font-size-18: 1.125rem;
$font-size-19: 1.188rem;

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

$line-height-11: 11px;
$line-height-14: 14px;
$line-height-15: 15px;
$line-height-17: 17px;
$line-height-20: 20px;
$line-height-25: 25px;

$font-family-open: 'Open Sans', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

.mail {
 display: flex;
 flex-direction: column;

 &__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mā-white;
  width: 100%;
  height: 78px;

  &-left {
   display: flex;
   align-items: center;
   gap: 9px;
   margin: 34px 86.5px 18px 21px;

   &-menu {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
   }

   &-logo {
    padding-left: 9px;
   }

   &-text {
    font-size: $font-size-19;
    line-height: $line-height-25;
    font-weight: $font-weight-600;
    font-family: $font-family-open;
   }
  }

  &-search {
   display: flex;
   justify-content: start;
   background-color: $moon-white;
   padding: 0;
   margin: 25px 26px 9px 0;
   border-radius: 20px;
   max-width: 1028px;
   height: 44px;

   &-box {
    background-color: $moon-white;
    width: 970px;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;

    &--search {
     padding: 15px 0 0 20px;
     color: $thames-dusk;
    }

    &--slider {
     padding: 14px 15px 14px 10px;
     color: $thames-dusk;
    }
   }
  }

  &-right {
   display: flex;
   margin: 33.5px 15.5px 17.5px 0;

   &-icon {
    display: flex;
    color: $black-oak;
    padding: 8px 22.6px 0 0;
   }
  }
 }

 &__main {
  display: flex;
  width: 100%;

 &-sidebar {
  background-color: $mā-white;
  max-width: 228px;
  display: flex;
  z-index: 10;
  flex-direction: column;

  &.collapsed {
   width: 65px;

   .mail__main-sidebar-compose {
    width: 31px;
    margin: 0 8px 14px 8px;
    padding-right: 30px;

    &-text {
     display: none;
    }

    &-pen {
      margin-right: 3px;
    }
   }
  
   .mail__main-sidebar-side-box {

    &-usage {
      width: 30px;
      margin-left: 20px;
      border-radius: 400px;
    }

    &-icon {
      padding: 5px 0 0 7px;
    }
    
    &-text {
     display: none;
    }

    &-extra {
      width: 30px;
      margin-left: 20px;
      border-radius: 400px;
    }

    &-icons {
      padding: 5px 0 0 6px;
    }

    &-texts {
      display: none;
    }
   }

   .mail__main-sidebar-side-down {

    &-title {
     
      &-text {
        display: none;
      }
    }

    &-icon {
      padding: 0 0 0 3px;
    }
    
    &-box {

     &-icons {
      padding: 3px 0 0 3px;
      margin: 6px 0 0 7px;
     }

     &-usage {
      width: 30px;
      border-radius: 400px;
      margin: 0 0 0 18px;
     }
  
     &-icon {
      padding: 3px 0 0 3px;
      margin: 6px 0 0 7px;
     }
      
     &-text {
      display: none;
     }  
    }
   }
  }

  &-compose {
   margin: 0 93.5px 14px 7.5px;
   padding: 16px 16.5px 16px 16.5px;
   background-color: $icy-landscape;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   border: none;
   cursor: pointer;
   gap: 15px;
   max-width: 124px;
   max-height: 50px;

   &-text {
    font-size: $font-size-13;
    line-height: $line-height-17;
    font-weight: $font-weight-600;
    font-family: $font-family-open;
    max-width: 59px;
    max-height: 18px;
   }

   &-pen {
    width: 17px;
    height: 16px;
   }

   &-popup {
    position: fixed;
    bottom: 15px;
    right: 10px;
    max-width: 485px;
    max-height: 497px;
    background-color: $white;
    box-shadow: 0 4px 15px $black;
    border-radius: 5px;
    z-index: 10;
  
    &-header {
     display: flex;
     justify-content: space-between;
     padding: 10px 16px 9px 16px;
     background-color: $cotton-ball;
  
     &-text {
      font-size: $font-size-12;
      line-height: $line-height-14;
      font-weight: $font-weight-500;
      font-family: $font-family-roboto;
      color: $shadowed-steel;
      max-width: 79px;
      max-height: 14px;
      margin: 0;
     }
  
     &-button {
      border: none;
      background: none;
      color: $shadowed-steel;
      cursor: pointer;
      font-size: 12px;
     }
    }

    &-body {
     padding: 16px;
    
     &-from {

      &-text {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
      }

      &-input {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
       padding-left: 4px;
       border: none;
       outline: none;
      }
     }

     &-to {
      padding: 14px 0 24px 0;

      &-text {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
       max-width: 15px;
       max-height: 14px;
      }

      &-input {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
       padding-left: 4px;
       border: none;
       outline: none;
      }
     }

     &-subject {
      border-top: 1px solid $chef-s-hat;
      border-bottom: 1px solid $chef-s-hat;
      padding: 9.5px 0 9.5px 0;

      &-text {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
       color: $fantasia;
       max-width: 15px;
       max-height: 14px;
      }

      &-input {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-400;
       font-family: $font-family-roboto;
       padding-left: 4px;
       border: none;
       outline: none;
      }
     }

     &-text {
      width: 450px;
      height: 280px;

      &-inside {
       width: 100%;
       height: 100%;
       padding-left: 4px;
       border: none;
       outline: none;
      } 
     }
    }

    &-footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: $white;
     border-radius: 5px;
     padding: 0 16px 11px 16px;
  
     &-button {
      background-color: $dead-blue-eyes;
      color: $white;
      border: none;
      padding: 7px 10px 7px 15px;
      border-radius: 200px;
      cursor: pointer;
      display: flex;
      gap: 12px;
      max-width: 84px;

      &-text {
       font-size: $font-size-12;
       line-height: $line-height-14;
       font-weight: $font-weight-500;
       font-family: $font-family-roboto;
       max-width: 28px;
       max-height: 14px;

       &::after {
        content: "";
        position: absolute;
        margin: 0 0 0 10px;
        opacity: 0.5;
        height: 20px;
        width: 0.2px; 
        background-color: $shadowed-steel; 
       }
      }

      &-icon {
        display: flex;
        padding-top: 7px;
        color: $white;
        background: none;
        border: none;
      }
     }

     &-icons {
      text-align: start;
      display: flex;
      gap: 14px;

      &-icon {

        &--right {
          padding-left: 135px;
        }
      }
     }
    }
   }
  }

  &-side {
   max-width: 213px;
   display: flex;
   cursor: pointer;
   flex-direction: column;

   &-box {
    list-style: none;
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;

    &-extra {
     border-radius: 0 17px 17px 0;
     width: 213px;
     height: 28px;
     display: flex;
     gap: 20px;
     flex-direction: row;

     &:hover {
      background-color: $shining-silver;
     }

     &-icon {
      display: flex;
     }
    }

    &-texts {
      font-size: $font-size-13;
      line-height: $line-height-15;
      font-weight: $font-weight-400;
      font-family: $font-family-roboto;
      display: flex;
      cursor: pointer;
      padding-top: 6px;
     }
 
     &-icons {
      display: flex;
      cursor: pointer;
      max-width: 14px;
      padding: 6px 0 0 23px;
     }

    &-usage {
     width: 213px;
     height: 28px;
     gap: 20px;
     border-radius: 0 17px 17px 0;
     display: flex;
     flex-direction: row;

     &:hover {
      background-color: $snow-tiger;
     }
    }
    
    &-text {
     font-size: $font-size-13;
     line-height: $line-height-15;
     font-weight: $font-weight-400;
     font-family: $font-family-roboto;
     display: flex;
     cursor: pointer;
     padding-top: 6px;
    }

    &-icon {
     display: flex;
     cursor: pointer;
     max-width: 14px;
     padding: 6px 0 0 23px;
    }
   }

   &-down {
    display: flex;
    flex-direction: column;
    padding: 26px 0 0 0;

    &-title {
     font-size: $font-size-15;
     line-height: $line-height-20;
     font-weight: $font-weight-600;
     font-family: $font-family-open;
     max-height: 20px;
     display: flex;
     flex-direction: row;
     margin: 0 0 18px 23px;
    }

    &-icon {
     display: flex;
     justify-content: end;
     padding:4px 0 4px 119px;
    }
    
    &-box {
     list-style: none;
     flex-direction: column;
     display: flex;
     margin: 0;
     padding: 0;
  
     &-usage {
      width: 213px;
      height: 28px;
      gap: 20px;
      border-radius: 0 17px 17px 0;
      display: flex;
      cursor: pointer;
      flex-direction: row;

      &:hover {
       background-color: $snow-tiger;
      }
     }
  
     &-text {
      font-size: $font-size-13;
      line-height: $line-height-15;
      font-weight: $font-weight-400;
      font-family: $font-family-roboto;
      padding-top: 6px;
      cursor: pointer;
      display: flex;
     }
  
     &-icon {
      display: flex;
      width: 14px;
      height: 11px;
      margin: 8px 0 0 23px;
      clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);

      &--first {
       background-color: $thames-dusk;
      }

      &--second {
       background-color: $rich-green;
      }

      &--third {
       background-color: $lemon-chrome;
      }

      &--fourth {
       background-color: $deep-sky-blue;
      }

      &--fifth {
       background-color: $chilled-chilly;
      }
     }
    }
   }
  }
 }
 
 &-content {
  width: 100%;
  height: 100%;
  height: 796px;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  display: flex;
  z-index: 2;
  background-color: $white;

  &-top {
   width: 100%;
   max-width: 96px;
   max-height: 22px;
   flex-direction: row;
   color: $carbon;
   display: flex;
   margin-bottom: 10px;
   padding: 13px 25px 0 18px;

   &-left {
    max-width: 96px;
    max-height: 13px;
    display: flex;
    gap: 27.5px;

    &-select {
     white-space: nowrap;
     display: flex;
     gap: 7px;

     &-checkbox {
      margin: 3px 0 0 0;
      width: 13px;
      height: 13px;
     }
    }
   }
  
   &-right {
    max-width: 133px;
    max-height: 22px;
    display: flex;
    top: 13px;
    right: 25px;
    gap: 28px;
    position: absolute;
    justify-content: end;

    &-number {
     font-size: $font-size-10;
     line-height: $line-height-11;
     font-weight: $font-weight-500;
     font-family: $font-family-roboto;
     white-space: nowrap;
     padding-top: 5px;
     color: $mission-control;
    }

    &-angle {
     color: $noghrei-silver;
    }
   }
  }

  &-tab {
   max-width: 627px;
   max-height: 33px;
   color: $black-oak;
   display: flex;
   flex-direction: row;
   margin: 20px 0 0 8px;

   &-primary {
    max-width: 209px;
    padding: 0 127px 18px 8px;
    gap: 16px;
    display: flex;
    background-color: $white;
    border: none;
    cursor: pointer;
    position: relative;

    /*&:focus,
    &:active {
     border-bottom: 2px solid #2f80ed;
     color: #2f80ed;
    }*/

    &-text {
     font-size: $font-size-13;
     line-height: $line-height-15;
     font-weight: $font-weight-600;
     font-family: $font-family-roboto;
    }

    &-icon {
     padding-top: 7px;
     max-height: 17px;
    }
   }

   &-promotions {
    max-width: 209px;
    padding: 0 89px 18px 21.5px;
    gap: 13px;
    display: flex;
    background-color: $white;
    position: relative;
    border: none;
    cursor: pointer;
   }

   &-social {
    max-width: 209px;
    padding: 0 120px 18px 21.5px;
    gap: 14px;
    display: flex;
    background-color: $white;
    position: relative;
    border: none;
    cursor: pointer;
   }
  }

  &-list {
   display: flex;
   flex-direction: column;
   margin: 0 17px 0 0;
   border-bottom: 1px solid $christmas-silver;

   &-item {
    gap: 15px;
    display: flex;
    position: relative;
    border-top: 1px solid $christmas-silver;
    max-height: 35px;
    padding: 9.25px 0;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &.unread {
     font-weight: $font-weight-700;
     background-color: $white !important;

     .mail__content-list-item-checkbox {
      background-color: $carbon;
     }

     .mail__content-list-item-star {
      color: $black-oak;
     }
    }

    &.read {
      font-weight: $font-weight-400;
     background-color: $cotton-ball !important;

     .mail__content-list-item-checkbox {
      color: $noghrei-silver;
     }

     .mail__content-list-item-star {
      color: $noghrei-silver;
     }
    }

    &-checkbox {
     margin: 2px 0 0 15px;
     width: 13px;
     height: 13px;
     background-color: $noghrei-silver;
    }

    &-star {
     width: 10px;
     height: 9.5px;
     padding-top: 7px;
     color: $noghrei-silver;
    }

    &-sender {
     font-size: $font-size-13;
     line-height: $line-height-15;
     font-family: $font-family-roboto;
    }

    &-subject {
     font-size: $font-size-13;
     line-height: $line-height-15;
     font-family: $font-family-roboto;
    }

    &-date {
     font-size: $font-size-10;
     line-height: $line-height-11;
     font-family: $font-family-roboto;
     position: absolute;
     padding-top: 3px;
     right: 80px;
    }

    &-left {
     display: none;
     position: absolute;
 
     &-icon {
      padding:7.3px 0 0 4px;
      cursor: pointer;
      color: $suzu-grey;
     }
    }

    &-icons {
     display: none;
     position: absolute;
     right: 20px;
     gap: 10px;

     &-icon {
      cursor: pointer;
     }
    }

    &:hover {
      box-shadow: inset 1px 0 0 $snow-tiger, inset -1px 0 0 $snow-tiger, 0 1px 2px 0 $snow-tiger, 0 1px 3px 1px $snow-tiger;
      z-index: 2;

     .mail__main-content-list-item-checkbox {
      color: $carbon;
     }

     .mail__main-content-list-item-star {
      color: $black-oak;
     }
  
     .mail__main-content-list-item-date {
      display: none;
     }
  
     .mail__main-content-list-item-left,
     .mail__main-content-list-item-icons {
      display: flex;
     }
    }
   }
  }
 }

 &-right {
  max-width: 47px;
  background-color: $mā-white;
  display: flex;
  flex-direction: column;
  padding: 27px 0;
  gap: 32px;

  &-pic {
   padding: 0 15.5px;
   width: 16px;
  }

  &-icon {
   padding: 0 15.5px;
   width: 16px;
   color: $maya-blue;
  }

  &-divider {
   width: 23px;
   height: 2px;
   border: 2px;
   background-color: $carte-blanche;
  }
 }
}
}

.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;

  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $cerebral-grey;
  }

  input[type="color"] {
    width: 50px;
    height: 30px;
    border: none;
  }

  label {
    font-size: 14px;
    margin-top: 5px;
  }
}

.mail__main-sidebar-side-down-box-icons {
  display: flex;
  width: 14px;
  height: 11px;
  margin: 8px 0 0 23px;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
 }

html, body {
 margin: 0;
 padding: 0;
 background-color: $mā-white;
 width: 100%;
 height: 100%;
}